* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header {
    font-size: 5vmin;
    color:rgb(24,26,47)
}

body {
    /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 10vmin;
    margin-top:auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    border: 10px solid rgb(48, 50, 71);
    background-color: rgb(255, 252, 231);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

#yellowA {
    opacity: 1;
}

#yellowA:hover,
.yellowKing-active:hover {
    box-shadow: 0.5vmin 0.5vmin rgba(48, 50, 71, 0.5);
    align-self: flex-start;
    padding-top: 0;
    opacity: 1;
}

.yellowKing {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(yellowKing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.blue {
    border: 1px solid rgba(48, 50, 71, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;

}

#blueA {
    opacity: 1;
}

#blueA:hover, .blueKing-active:hover {
    box-shadow: 0.5vmin 0.5vmin rgba(48, 50, 71, 0.5);
    align-self: flex-start;
    padding-top: 0;
    opacity: 1;
}

.blueKing {
    border: 1px solid rgba(48, 50, 71, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(blueKing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;

}

.emptyCellA {
    border: 2px dashed rgb(255, 252, 231);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
}

#game-rules {
    padding: 5vmin;
    border: 3px solid rgb(48, 50, 71);
    max-width: 70vmin;
    position: absolute;
    background-color:rgba(255, 252, 231, 0.9);
    visibility: hidden;
}
h1, h2, h3 {
    text-align: center;
}

button {
    color: rgb(24, 26, 47);
    font-size: 2vmin;
    height: 3vmin;
    width: 20vmin;
    display: block;
    margin-right:auto;
    margin-top: 1vmin;
    background-color: rgb(255, 252, 231);
    border: 2px solid rgb(48, 50, 71);
}

button:hover {
    background-color: rgb(122,137,181);
    color:rgb(255, 252, 231);
    border: 2px solid rgb(48, 50, 71);
}