* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    font-size: 4vmin;
    color: rgb(24, 26, 47)
}

body {
    height: 100vh;
    margin: 10vmin;
    margin-top: auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top,
#bottom {
    min-height: 10vmin;
    max-width: 72vmin;
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#board {
    display: grid;
    grid-template-columns: repeat(8, 9vmin);
    grid-template-rows: repeat(8, 9vmin);
    border: 10px solid rgb(48, 50, 71);
    background-color: rgb(255, 252, 231);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

#yellowA {
    opacity: 1;
}

#yellowA:hover,
.yellowKing-active:hover {
    box-shadow: 0.5vmin 0.5vmin rgba(48, 50, 71, 0.5);
    align-self: flex-start;
    padding-top: 0;
    opacity: 1;
}

.yellowKing {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(yellowKing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.blue {
    border: 1px solid rgba(48, 50, 71, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;

}

#blueA {
    opacity: 1;
}

#blueA:hover,
.blueKing-active:hover {
    box-shadow: 0.5vmin 0.5vmin rgba(48, 50, 71, 0.5);
    align-self: flex-start;
    padding-top: 0;
    opacity: 1;
}

.blueKing {
    border: 1px solid rgba(48, 50, 71, 0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
    background: url(blueKing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;

}

.emptyCellA {
    border: 2px dashed rgb(255, 252, 231);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 8vmin;
    min-height: 8vmin;
}

#game-rules {
    padding: 5vmin;
    border: 3px solid rgb(48, 50, 71);
    max-width: 70vmin;
    position: absolute;
    background-color: rgba(255, 252, 231, 0.9);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

button {

    color: rgb(24, 26, 47);
    font-size: 3vmin;
    min-height: 4vmin;
    min-width: 15vmin;
    margin: 1vmin 1vmin;
    padding: 1vmin 1vmin;
    background-color: rgb(255, 252, 231);
    border: 2px solid rgb(48, 50, 71);
}

button:hover {
    background-color: rgb(122, 137, 181);
    color: rgb(255, 252, 231);
    border: 2px solid rgb(48, 50, 71);
}

#turn1,
#turn-1 {
    visibility: hidden;
}

.arrow-right {
    width: 0;
    height: 0;
    border-left: 4vmin solid rgb(0, 22, 58);
    border-top: 3vmin solid transparent;
    border-right: 5vmin solid transparent;
    border-bottom: 3vmin solid transparent;
}


#player1,
#player-1 {
    border: 2px solid rgb(48, 50, 71);
    font-size: 3vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(24, 26, 47);
    min-height: 4vmin;
    min-width: 15vmin;
    margin: 1vmin 1vmin;
    padding: 1vmin 1vmin;
    background-color: rgb(255, 252, 231);
    border: 2px solid rgb(48, 50, 71);

}

#turn {
    align-self: flex-end;
}

.sturn {
    visibility: hidden;
}

.name1,
.name-1,
.sturn1,
.sturn-1 {
    background-color: rgb(255, 252, 231);
    border: 0;
    color: rgb(24, 26, 47);
    min-width: 30%;

}

input {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    text-align: end;
    color: rgb(24, 26, 47);
    min-height: 100%;
    max-width: 70%;
    font-size: 3vmin;
    background-color: rgb(255, 252, 231);
    border: 0;
}

.tiemsg {
    padding: 5vmin;
    border: 3px solid rgb(48, 50, 71);
    max-width: 70vmin;
    max-height: 10vmin;
    position: absolute;
    background-color: rgba(255, 252, 231, 0.9);
    visibility: hidden;
}